@import "tailwindcss";

@theme {
    --color-primary: #f00;
    --color-primary-dark: #c00;
    --color-destructive: #b00;
    --color-background: #fff;
    --color-muted-foreground: #333;
    --color-muted: #e0e0e0;
}